<div class="register-container">
  <div class="register-block">
    <form class="register-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h1>Sign Up</h1>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" 
               matInput 
               readonly
               formControlName="username"
               onfocus="this.removeAttribute('readonly')"
               placeholder="Enter your username!">
      </mat-form-field>
      <div class="error-message" *ngIf="this.backendErrors$ | async as errors">
        <div *ngIf="(username!.invalid && (errors.username)) || errors.username">
          Username {{errors.username}}
        </div>
      </div>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" 
               matInput 
               readonly
               formControlName="email"
               onfocus="this.removeAttribute('readonly')"
               placeholder="Enter your email!">
      </mat-form-field>
      <div class="error-message" *ngIf="this.backendErrors$ | async as errors">
        <div *ngIf="(email!.invalid && (errors.email)) || errors.email"> 
          Email {{errors.email}}
        </div>
      </div>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" 
               matInput 
               readonly
               formControlName="password"
               onfocus="this.removeAttribute('readonly')"
               placeholder="Enter your password!">       
      </mat-form-field>
      <div class="error-message" *ngIf="this.backendErrors$ | async as errors">
        <div *ngIf="(password!.invalid && (errors.password)) || errors.password"> 
          Password {{errors.password}}
        </div>
      </div>
      <div class="signup_buttons">
        <button class="cencel_button" [routerLink]="['']">Cencel</button>
        <button class="signup_button" 
                type="submit"
                [disabled]="isSubmitting$ | async">
          Sign up    
        </button>
      </div>
    </form>
  </div>
</div>