.tag-list {
    display: flex;
    list-style-type: none;
    column-gap: 8px;
    justify-content: right;

    .tag {
        padding: 5px 10px;
        border-radius: 15px;
        font-weight: 600;
        font-family: 'Times New Roman';
        background-color: #a3fce9;
        color: rgb(42, 42, 42);
    }
}